@charset "UTF-8";
*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url(./Poppins-Regular.ttf);
  font-family: poppins;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: poppins;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

h1 {
  font-size: 50px;
}

.calc {
  width: 503px;
  height: 438px;
  display: -ms-grid;
  display: grid;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -ms-grid-columns: 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px;
      grid-template-columns: 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px 1fr 13px;
  -ms-grid-rows: 13px 100px 13px 65px 13px 65px 13px 65px 13px 65px 13px;
      grid-template-rows: 13px 100px 13px 65px 13px 65px 13px 65px 13px 65px 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc .display {
  position: relative;
  border: 2px solid black;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: right;
  line-height: 100px;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
}

.calc .calcButton {
  border: 1px black solid;
  cursor: pointer;
  width: 85px;
  height: 65px;
  font-size: 20px;
  line-height: 65px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.calc .calcButton:hover {
  background-color: lightgray;
}

.calc div:nth-child(2) {
  /*  1  */
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calc div:nth-child(3) {
  /*  2  */
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.calc div:nth-child(4) {
  /*  3  */
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.calc div:nth-child(5) {
  /*  4  */
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calc div:nth-child(6) {
  /*  5  */
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.calc div:nth-child(7) {
  /*  6  */
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.calc div:nth-child(8) {
  /*  7  */
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calc div:nth-child(9) {
  /*  8  */
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.calc div:nth-child(10) {
  /*  9  */
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.calc div:nth-child(11) {
  /*  0  */
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.calc div:nth-child(12) {
  /*  +  */
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.calc div:nth-child(13) {
  /*  -  */
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.calc div:nth-child(14) {
  /*  *  */
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.calc div:nth-child(15) {
  /*  C  */
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8/9;
}

.calc div:nth-child(16) {
  /*  /  */
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.calc div:nth-child(17) {
  /*  .  */
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.calc div:nth-child(18) {
  /*  CE  */
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
  height: 100px;
  line-height: 100px;
}

.calc div:nth-child(19) {
  /*  √ */
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
}

.calc div:nth-child(20) {
  /*  % */
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
}

.calc div:nth-child(21) {
  /*  = */
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8/11;
  height: 143px;
  -ms-grid-column: 10;
  -ms-grid-column-span: 1;
  grid-column: 10/11;
  line-height: 130px;
}
/*# sourceMappingURL=style.css.map */